* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

.logo {
    width: 80%;
    max-width: 428px;
    aspect-ratio: 428 / 926;
}